<ion-view title="informacion" id="page37">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div class="spacer" style="width: 287px; height: 31px;"></div>
    <form id="informacion-form35" class="list">
      <h4 id="informacion-heading54" style="color:#000000;font-weight:300;text-align:center;">PUESTOS Y AGENTES CONECTADOS</h4>
      <div class="spacer" style="width: 300px; height: 26px;"></div>
      <label class="item item-select" id="informacion-select24">
        <span class="input-label">Servicio:</span>
        <select>
          <option></option>
          <option>IFA</option>
          <option>IFA Sr.</option>
          <option>Relationship Managger</option>
          <option>Relationship Director</option>
          <option>Bussiness Associate</option>
        </select>
      </label>
      <label class="item item-select" id="informacion-select25">
        <span class="input-label">Campaña</span>
        <select>
          <option></option>
          <option>IFA</option>
          <option>IFA Sr.</option>
          <option>Relationship Managger</option>
          <option>Relationship Director</option>
          <option>Bussiness Associate</option>
        </select>
      </label>
      <label class="item item-input" id="informacion-input77">
        <span class="input-label">Gestiones</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="informacion-input78">
        <span class="input-label">Consultas</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="informacion-input79">
        <span class="input-label">Reclamos </span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="informacion-textarea12">
        <span class="input-label">Text</span><textarea placeholder=""></textarea></label>
    </form>
  </ion-content>
</ion-view>