<ion-view title="Inicio" hide-nav-bar="true" id="page30" class="inicio">
  <ion-content padding="true" class=" manual-remove-top-padding">
    <div class="spacer" style="width: 300px; height: 34.9805px;"></div>
    <div>
      <img src="img/GGhRfgISziEBRK6YivEQ_image002.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="inicio-list12">
      <ion-item class="item-icon-left side-menu" id="inicio-list-item101" ui-sref="capital.sLARELEVANTES()">
        <i class="icon ion-android-person"></i>SLA Relevantes del servicio</ion-item>
      <ion-item class="item-icon-left side-menu" id="inicio-list-item102" ui-sref="puestosYAgentes">
        <i class="icon ion-android-contacts"></i>Puestos y Agentes Conectados</ion-item>
      <ion-item class="item-icon-left side-menu" id="inicio-list-item103" ui-sref="informacion()">
        <i class="icon ion-ios-telephone"></i>Marcador Predictivo/ Progresivo </ion-item>
      <ion-item class="item-icon-left side-menu" id="inicio-list-item109" ui-sref="puestosYAgentes()">
        <i class="icon ion-speedometer"></i>Indicadores del Negocio</ion-item>

      <ion-item class="item-icon-left side-menu" id="inicio-list-item113" ui-sref="encuestas()" >
        <i class="icon ion-podium"></i>Encuestas</ion-item>


      <ion-item class="item-icon-left side-menu" id="inicio-list-item113" >
        <i class="icon ion-log-out"></i>Salir</ion-item>


    </ion-list>
  </ion-content>
</ion-view>