<ion-view title="Login" hide-nav-bar="true" id="page1" style="background-color:#FFFFFF;">
  <ion-content padding="true"  class="manual-ios-statusbar-padding">

   

    <div class="spacer" ng-class="{'preload_1': logeandose==1}"></div>
    <div class="logo">
      <img src="img/ILDBu5fYSU0EXX3N7ptm_image002.jpg" style="display: block; height: auto; margin-left: auto; margin-right: auto; max-width: 12px;max-width: 178px;
    float: right;" >
    </div>

    <div>
        <a style="display:block;" >
          <img src="img/callcenter.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>

    
    <div id="login-container1">
         <div class="spacer" style="height: 10px;"></div>

    <h2 id="login-heading7" style="color:#161718;font-weight:300;text-align:center;">Panel Web</h2>
  
      <form id="login-form4" class="list center-form">
     
        <label class="item item-input" id="login-input4">
          <span class="input-label">Usuario</span>
          <input type="text" placeholder="" ng-model='data.usuario'>
        </label>
        <label class="item item-input" id="login-input5">
          <span class="input-label">Contraseña</span>
          <input type="password" placeholder="" ng-model='data.password'>
        </label>
        <a ng-click="ingresar(data)" id="login-button12" class="button button-balanced button-block">Iniciar Sesion</a>

        <span style='color:#000;'>{{error}}</span>
        <div id="login-markdown10" class="show-list-numbers-and-dots">
          <p style="color:#61DC9D;">Version 0.0.11</p>
        </div>
      </form>
    </div>
    <div id="login-button-bar2" class="button-bar"></div>
  </ion-content>
</ion-view>