<ion-view title="Puestos" id="page36">

  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div class="spacer" style="width: 287px; height: 31px;"></div>
    <form id="puestos-form34" class="list">
      <h4 id="puestos-heading53" style="color:#000000;font-weight:300;text-align:center;">PUESTOS Y AGENTES CONECTADOS</h4>
      <div class="spacer" style="width: 300px; height: 26px;"></div>
      <label class="item item-select" id="puestos-select22">
        <span class="input-label">Servicio:</span>
        <select>
          <option></option>
          <option>IFA</option>
          <option>IFA Sr.</option>
          <option>Relationship Managger</option>
          <option>Relationship Director</option>
          <option>Bussiness Associate</option>
        </select>
      </label>
      <label class="item item-select" id="puestos-select23">
        <span class="input-label">Campaña</span>
        <select>
          <option></option>
          <option>IFA</option>
          <option>IFA Sr.</option>
          <option>Relationship Managger</option>
          <option>Relationship Director</option>
          <option>Bussiness Associate</option>
        </select>
      </label>
      <label class="item item-input" id="puestos-input74">
        <span class="input-label">LLamadas Contestatadas</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="puestos-input75">
        <span class="input-label">LLamadas abandonadas</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="puestos-input76">
        <span class="input-label">Hit Ratio %</span>
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>